.status-msg{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .awesome{
        display: inline-block;
        
        width: 40px;
        height: 40px;

        margin-left: 30px;

        background-image: url('/public/icons/awesome.svg');
        background-position: center;
        background-size: contain;
    }
}

.container-opened-chat{
    padding: 50px;
    box-sizing: border-box;

    .status-msg-container{
        position: relative;
        height: 100%;
    }

    .opened-chat{
        display: none;

        position: relative;

        padding-bottom: 50px;

        height: 100%;

        box-sizing: border-box;

        .chat-header{
            position: relative;

            height: 34px;
            
            margin-bottom: 20px;

            background-color: #0004;

            box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);


            border-radius: 10px;

            #btn-open-chat-menu{
                float: right;

                width: 34px;
                height: 34px;

                margin-right: 20px;

                background-color: #0004;

                background-image: url('/public/icons/menu.svg');
                background-position: center;
                background-size: 70%;
                background-repeat: no-repeat;

            }
            #btn-open-chat-menu:hover{
                cursor: pointer;
                background-color: #0006;
            }

            #chat-menu{
                display: none;

                position: absolute;
                top: 34px;
                right: 20px;

                width: 200px;

                background-color: rgb(17, 17, 17);

                border-radius: 5px;

                button{
                    width: 100%;

                    padding: 10px 12px;

                    font-size: 12pt;
                    color: white;
                    background-color: transparent;

                    border: none;
                    border-radius: 5px;
                }
                button:hover{
                    cursor: pointer;
                    background-color: #ffffff05;
                }
            }
        }

        .no-msgs-yet{
            display: none;
        }

        .all-messages-container{
            display: none;

            .message-block{
                display: flex;
                flex-direction: column;

                font-size: 12pt;

                .name-container{
                    display: flex;
                    align-items: center;

                    margin-bottom: 20px;
    
                    .name{
                        display: flex;
                        align-items: center;
    
                        padding: 0 20px;
                        height: 32px;
    
                        color: #CDCDCD;
                        background-color: #25262e;

                        border-radius: 40px;
                    }
    
                    .circle{
                        width: 32px;
                        height: 32px;
    
                        margin: 0 12px;
        
                        border-radius: 50%;
                    }
                }

                .messages{
                    display: flex;
                    flex-direction: column;

                    .message-content{
                        display: flex;
                        align-items: center;

                        padding: 0 20px;

                        width: fit-content;
                        height: 40px;

                        font-weight: bold;

                        background-color: #2B2B2B;
                    
                        border-radius: 40px;
                    }

                    .message-content:not(:last-child){
                        margin-bottom: 15px;
                    }
                }
            }
            .my-message-block{
                align-items: flex-end;

                .name-container{
                    .circle{
                        background-color: #FFD600;
                    }
                }

                .messages{
                    align-items: flex-end;
                }
            }
            .member-message-block{
                align-items: flex-start;

                .name-container{
                    .circle{
                        background-color: #3461FF;
                    }
                }

                .messages{
                    align-items: flex-start;
                }
            }
        }

        .message-input-group{
            position: absolute;
            bottom: 0;

            width: 100%;
            height: 34px;

            box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.25);

            border-radius: 20px;

            #inp-message{
                width: 100%;
                height: inherit;

                padding: 0 20px;

                font-size: 12pt;

                box-sizing: border-box;
                
                border: 3px solid #000;
                border-radius: 20px;
            }

            #btn-send-message{
                position: absolute;
                top: 0;
                right: 0;

                width: 50px;
                height: inherit;

                font-weight: 900;
            
                background-color: rgb(34, 34, 34);
                background-image: url('/public/icons/send_white.svg');
                background-position: center;
                background-size: 40%;
                background-repeat: no-repeat;

                box-sizing: border-box;

                border: none;
                border-radius: 0 20px 20px 0;
            }
            #btn-send-message:hover{
                cursor: pointer;
            }
        }
    }
}