.popup{
    // display: none; // initial

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 30px 50px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    background-color: rgb(236, 255, 64);
    color: black;

    font-weight: bold;

    border-radius: 10px;

    z-index: 3;

    p{
        text-align: center;
        font-size: 14pt;
        margin-bottom: 40px;
    }

    input{
        width: 100%;
        
        padding: 10px 16px;
        margin-bottom: 30px;

        box-sizing: border-box;

        font-size: 12pt;
        font-weight: bold;

        border: none;
        border-radius: 5px;
    }

    button{
        padding: 10px 20px;
        
        font-size: 12pt;
        font-weight: bold;
        
        background-color: rgb(23, 195, 238);

        border: none;
    }
    button:hover{
        cursor: pointer;
        background-color: rgb(21, 170, 207);
    }
}

#create-chat-popup{
    display: none;
}