<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>

    <link rel="stylesheet" href="/public/css/dashboard/dashboard.css">

    <title>Dashboard</title>
</head>
<body>

</body>
</html>